<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mars -eCommerce </title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Mars -eCommerce ">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/applogo.jpg">
    <link rel="manifest" href="/images/applogo.jpg">
    <link rel="mask-icon" href="/images/applogo.jpg" color="#666666">
    <link rel="shortcut icon" href="/images/applogo.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/applogo.jpg">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <!-- <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                </ul> -->
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <!-- <div class="social-icons social-icons-color"> -->
                        <!-- <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a> -->
                        <!-- <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                        <!-- <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i class="icon-pinterest-p"></i></a> -->
                        <!-- <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i class="icon-instagram"></i></a> -->
                        <!-- </div>End .soial-icons -->
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <!-- <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li> -->
                                    <!-- <li><a href="/login"><i class="icon-user"></i>Login</a></li> -->
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->



                        <div class="header-dropdown">
                            <!-- <a href="#">Eng</a> -->

                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">

                    </div>

                    <!-- <a href="index-6.html   " class="logo">
                            <img src="/usercss/assets/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                        </a> -->
                    <!-- <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mars</h3>
                         -->
                    <img src="/images/applogo.jpg" style="height: 120px;width: 180px;;" alt="marslogo">


                    <div class="header-right">

                        <!-- <a href="/login"><i class="icon-user"></i>Login</a> -->

                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-txt"></span> -->
                        </a>


                        <div class="dropdown cart-dropdown">

                            <a href="/cart" class="wishlist-link">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="wishlist-txt"></span> -->
                            </a>



                        </div><!-- End .cart-dropdown -->

                    </div>

                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="">
                                    <a href="/home" class="">Home</a>


                                </li>

                                <li>
                                    <a href="/shop" class="sf">Shop</a>


                                </li>

                                
                                <li>
                                <li><a href="/profile">Profile</a></li>
                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->


                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form id="coupon-form">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" required id="checkout-discount-input"
                                            placeholder="Have a coupon? ">
                                    </div>
                                    <div class="col-auto"> <!-- Adjusted column width -->
                                        <button type="submit" class="btn btn-primary btn-block">Apply</button>
                                        <button type="button" id="remove-coupon-btn"
                                            class="btn btn-primary btn-block">Remove</button>
                                    </div>
                                    <input type="hidden" value="<%=subtotal%>">
                                </div>
                                <label for="checkout-discount-input" class="text-truncate"><span></span></label>
                            </form>

                            <div id="coupon-discount"></div>
                        </div><!-- End .checkout-discount -->



                        <br>

                        <a href="/checkoutAddress"><button type="submit" class="btn btn-outline-primary-2">
                                <span>Create New Address</span>
                                <i class="icon-long-arrow-right"></i>
                            </button></a>

                        <form id="form">
                            <div class="row">
                                <%if(addressescount<=0){%>

                                    <div class="col-lg-9">

                                    </div><!-- End .col-lg-9 -->
                                    <%}else{%>

                                        <div class="col-lg-9">

                                            <br><br>
                                            <% address.addresses.forEach(address=> { %>

                                                <div class="card card-dashboard"
                                                    style="width: 500px; margin-bottom: 20px;">

                                                    <div class="card-body">


                                                        <h3 class="card-title">
                                                            <%=address.name%>
                                                        </h3><!-- End .card-title -->

                                                        <p>

                                                            <%= address.name %><br>
                                                                <%= address.address %><br>
                                                                    <%= address.state + ',' + address.pincode %><br>
                                                                        <%= address.phone %><br>
                                                                            <%= address.email %><br>
                                                                                <a
                                                                                    href="/checkoutEditAddress?id=<%=address._id%>">Edit
                                                                                    <i class="icon-edit"></i></a>
                                                        </p>
                                                        <input type="radio" name="selectedAddress"
                                                            value="<%= address._id %>"
                                                            style="position: absolute; top: 5px; right: 5px;">
                                                        <label for=""
                                                            style="position: absolute; top: 5px; right: 25px;"></label>
                                                        </p>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                                <% }) %>
                                        </div><!-- End .col-lg-6 -->

                                        <%}%>


                                            <aside class="col-lg-3">
                                                <div class="summary">
                                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                                    <table class="table table-summary">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <% cartPoducts.forEach(cart=> { %>
                                                                <% cart.products.forEach(cartProduct=> { %> <tr>
                                                                        <td>
                                                                            <%=cartProduct.product.name%>
                                                                        </td>
                                                                        

                                                                        <% if (cartProduct.product.offerprice > 0 && cartProduct.product.category.offerprice > 0) { %>
                                                                            <td>
                                                                                ₹<%= Math.round(cartProduct.product.offerprice - (cartProduct.product.offerprice * cartProduct.product.category.offerprice) / 100) * cartProduct.quantity %>
                                                                            </td>                    
                                                                        <% } else if (cartProduct.product.offerprice > 0) { %>
                                                                            <td>
                                                                                ₹<%= cartProduct.product.offerprice * cartProduct.quantity %>
                                                                            </td>                     
                                                                        <% } else if (cartProduct.product.category.offerprice > 0) { %> <!-- Added missing { here -->
                                                                            <td>
                                                                                ₹<%=  Math.round(cartProduct.product.price - (cartProduct.product.price * cartProduct.product.category.offerprice) / 100)* cartProduct.quantity %>
                                                                            </td> 
                                                                        <% } else { %>
                                                                            <td>
                                                                                ₹<%= cartProduct.product.price * cartProduct.quantity %>
                                                                            </td>
                                                                        <% } %>
                                                                        

                                                                    </tr>
                                                                    <%})%>
                                                                        <%})%>



                                                                            <tr class="summary-subtotal">
                                                                                <td>Subtotal:</td>
                                                                                <td>
                                                                                    ₹<%=subtotals%>
                                                                                </td>
                                                                            </tr><!-- End .summary-subtotal -->

                                                                            <tr class="summary-total">
                                                                                <td>Total:</td>
                                                                                <td id="total">₹ <%= subtotal %>
                                                                                </td>
                                                                            </tr>
                                                        </tbody>
                                                    </table><!-- End .table table-summary -->
                                                    <div>
                                                        <br>
                                                        <h6>*payment Methods</h6>
                                                    </div>
                                                    <br>

                                                    <div>
                                                        <label>
                                                            <input type="radio" name="paymentMethod" value="Razorpay">
                                                            Online Payment
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <input type="radio" name="paymentMethod" value="Wallet">
                                                            Wallet
                                                        </label>
                                                    </div>
                                                    <%if(subtotal<=1000){%>
                                                        <div>
                                                            <label>
                                                                <input type="radio" name="paymentMethod"
                                                                    value="cashOnDelivery">
                                                                Cash on delivery
                                                            </label>
                                                        </div>

                                                        <%}%>



                                                            <button type="submit"
                                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                                <span class="btn-text">Place Order</span>
                                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                                            </button>
                                                </div><!-- End .summary -->
                                            </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <!-- <img src="/usercss/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25"> -->
                                <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">MARS
                                </h3>
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About MARS</a></li>
                                    <li><a href="#">How to shop on MARS</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 MARS Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/usercss/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>
            <form action="/shop" method="get">
                <div class="header-search-wrapper search-wrapper-wide">
                    <label for="q" class="sr-only">Search</label>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                    <input type="search" class="form-control" name="search" id="search" placeholder="Search product ..." required>
                </div><!-- End .header-search-wrapper -->
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="">  
                        <a href="/home" class="">Home</a>

                     
                    </li>
                    <li>
                        <a href="/shop" class="sf">Shop</a>

                        
                    </li>
                    
                    <li>
                        <li><a href="/profile">Profile</a></li>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.card-header a').click(function () {
                var targetCollapse = $(this).attr('href');
                $('.collapse.show').collapse('hide');
                $(targetCollapse).collapse('show');
            });
        });
    </script>
    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
        const form = document.getElementById('form');

            function cashOnDelivery() {
                const selectedAddress = form.elements['selectedAddress'].value;
                const paymentMethod = form.elements['paymentMethod'].value;
                const SubtotalEle = document.getElementById('total')
                const subtotal = SubtotalEle.textContent.trim();

                console.log(subtotal, '5444');
                let datas = {
                    selectedAddress,
                    paymentMethod,
                    subtotal
                };
                fetch('/order', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(datas)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.message) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Order Success',
                                text: 'Your order has been placed successfully!',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '/profile';
                            });
                        } else if(data.fail) {
            Swal.fire({
                icon: 'error',
                title: 'Order Failed',
                text: data.fail || 'Unknown error occurred',
                confirmButtonText: 'OK'
            });
        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });

            }

        function Wallet() {
            const selectedAddress = form.elements['selectedAddress'].value;
            const paymentMethod = form.elements['paymentMethod'].value;
            const SubtotalEle = document.getElementById('total')
            const subtotalText = SubtotalEle.textContent.trim();
            const subtotal = parseFloat(subtotalText.replace(/[^\d.-]/g, ''));

            let datas = {
                selectedAddress,
                paymentMethod,
                subtotal
            };
            fetch('/wallet', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datas)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.message === 'success') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Success',
                            text: 'Your order has been placed successfully!',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.href = '/profile';
                        });
                    } else if (data.fail) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Order Failed',
                            text: 'insufficient balance in your wallet',
                            confirmButtonText: 'OK'
                        });
                    }else if(data.failure) {
            Swal.fire({
                icon: 'error',
                title: 'Order Failed',
                text: data.failure   || 'Unknown error occurred',
                confirmButtonText: 'OK'
            });
        }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function razorpay() {
            const selectedAddress = form.elements['selectedAddress'].value;
            const paymentMethod = form.elements['paymentMethod'].value;
            const SubtotalEle = document.getElementById('total')
            const subtotalText = SubtotalEle.textContent.trim();
            const subtotal = parseFloat(subtotalText.replace(/[^\d.-]/g, ''));
            let datas = {
                selectedAddress,
                paymentMethod,
                subtotal
            };
            fetch('/razorpay', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datas)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.failure) {
            Swal.fire({
                icon: 'error',
                title: 'Order Failed',
                text: data.msg || 'Unknown error occurred',
                confirmButtonText: 'OK'
            });
            return;
        }
                    console.log(data);
                    var options = {
                        key: data.key_id,
                        amount: data.amount,
                        currency: "INR",
                        name: "MARS _STORE",
                        description: "Transaction Description",
                        image: "https://example.com/your_logo",
                        order_id: data.order_id,
                        handler: function (response) {
                            const requestData = {
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_signature: response.razorpay_signature,
                                selectedAddress: datas.selectedAddress,
                                paymentMethod: datas.paymentMethod,
                                subtotal: datas.subtotal
                            };
                            fetch('/verifySignature', {
                                method: 'post',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ requestData }),
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    if (data.success) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Order Success',
                                            text: 'Your order has been placed successfully!',
                                            confirmButtonText: 'OK'
                                        }).then(() => {
                                            window.location.href = '/profile';
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Order Failed',
                                            text: 'Signature verification failed!',
                                            confirmButtonText: 'OK'
                                        });
                                        console.log('Error:', data.message);
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Order Failed',
                                        text: 'An error occurred!',
                                        confirmButtonText: 'OK'
                                    });
                                });
                        },
                        prefill: {
                            name: "Customer Name",
                            email: "customer_email@example.com",
                            contact: "customer_phone",
                        },
                        theme: {
                            color: "#192e68",
                        },
                    };
                    var paymentGateway = new Razorpay(options);
                    paymentGateway.on('payment.failed', function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Payment Failed',
                            text: 'Your payment was not successful!',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.href = '/profile';
                        });
                    }); paymentGateway.open();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        form.addEventListener('submit', (event) => {
            event.preventDefault()
            const paymentMethod = form.elements['paymentMethod'].value;
            const selectedAddress = form.elements['selectedAddress'].value;

            if (!selectedAddress) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please select an address!',
                    confirmButtonText: 'OK'
                });
                return;
            }
            if (!paymentMethod) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Please select a payment method!',
                    confirmButtonText: 'OK'
                });
                return;
            }
            console.log(paymentMethod);
            if (paymentMethod == 'Razorpay') {
                razorpay()
            } else if (paymentMethod == 'cashOnDelivery') {
                cashOnDelivery()
            } else if (paymentMethod == 'Wallet') {
                Wallet()
            }


        })



    </script>



    <script>
        document.getElementById('coupon-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const couponCode = document.getElementById('checkout-discount-input').value.trim();

            applyCoupon(couponCode);
        });
        document.getElementById('remove-coupon-btn').addEventListener('click', function () {
            console.log('Remove button clicked'); // Debug log
            removeCoupon();
        });

        function applyCoupon(couponCode) {
            const subtotal = parseFloat("<%= subtotals %>");


            fetch('/applyCoupon', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ couponCode, subtotal }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const couponDiscountElement = document.getElementById('coupon-discount');
                    if (data.message === 'Coupon applied successfully') {
                        document.getElementById('total').textContent = data.discountedSubtotal;
                        localStorage.setItem('discountedSubtotal', data.discountedSubtotal);  // Store the discounted subtotal
                        localStorage.setItem('couponCode', couponCode);
                        couponDiscountElement.innerHTML = `<p>Coupon "${couponCode}" applied successfully!</p>`;
                        document.getElementById('checkout-discount-input').value = couponCode;
                    } else if (data.message === 'Coupon is not active') {
                        couponDiscountElement.innerHTML = `<p>Coupon is not active!</p>`;
                    } else if (data.message === 'Coupon has expired') {
                        couponDiscountElement.innerHTML = `<p>Coupon has expired!</p>`;
                    } else if (data.message === 'Coupon not found') {
                        couponDiscountElement.innerHTML = `<p>Coupon not found!</p>`;
                    } else if (data.message === 'Coupon is already used') {
                        couponDiscountElement.innerHTML = `<p>This coupon is already used!</p>`;
                    }
                    else if (data.message === 'min amount is not valid') {
                        couponDiscountElement.innerHTML = `<p>You didn't achive the minimum amount for claiming this coupon!</p>`;
                    }
                    else {
                        couponDiscountElement.innerHTML = `<p>Something went wrong!</p>`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });



        }


        function removeCoupon() {
            const subtotal = parseFloat("<%= subtotals %>");

            fetch('/removeCoupon', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ subtotal }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.message === 'Coupon removed successfully') {
                        document.getElementById('total').textContent = data.originalSubtotal;
                        localStorage.removeItem('discountedSubtotal');
                        localStorage.removeItem('couponCode');
                        document.getElementById('coupon-discount').innerHTML = `<p>Coupon removed successfully!</p>`;
                        document.getElementById('checkout-discount-input').value = '';
                    } else {
                        document.getElementById('coupon-discount').innerHTML = `<p>Failed to remove coupon!</p>`;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        window.addEventListener('load', () => {
            const discountedSubtotal = localStorage.getItem('discountedSubtotal');
            const couponCode = localStorage.getItem('couponCode');

            if (discountedSubtotal) {
                document.getElementById('total').textContent = discountedSubtotal;
                document.getElementById('coupon-discount').innerHTML = `<p>Coupon "${couponCode}" applied successfully!</p>`;
            }
            if (couponCode) {
                document.getElementById('checkout-discount-input').value = couponCode;
            }
        });






    </script>


</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

</html>