<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mars -eCommerce </title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Mars -eCommerce ">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/applogo.jpg">
    <link rel="manifest" href="/images/applogo.jpg">
    <link rel="mask-icon" href="/images/applogo.jpg" color="#666666">
    <link rel="shortcut icon" href="/images/applogo.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/applogo.jpg">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/style.css">
    <link rel="stylesheet" href="/usercss/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/usercss/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/usercss/assets/css/plugins/nouislider/nouislider.css">
    <style>
        @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.horizontal-timeline .items {
border-top: 2px solid #ddd;
}

.horizontal-timeline .items .items-list {
position: relative;
margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
content: "";
position: absolute;
height: 8px;
width: 8px;
border-radius: 50%;
background-color: #ddd;
top: 0;
margin-top: -5px;
}

.horizontal-timeline .items .items-list {
padding-top: 15px;
}



    </style>
</head>
<body>
  <header class="header header-6">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <ul class="top-menu top-link-menu d-none d-md-block">
                    <li>
                        <a href="#">Links</a>
                        <!-- <ul>
                            <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                        </ul> -->
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <!-- <div class="social-icons social-icons-color"> -->
                <!-- <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a> -->
                <!-- <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                <!-- <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i class="icon-pinterest-p"></i></a> -->
                <!-- <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i class="icon-instagram"></i></a> -->
                <!-- </div>End .soial-icons -->
                <ul class="top-menu top-link-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <!-- <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li> -->
                            <!-- <li><a href="/login"><i class="icon-user"></i>Login</a></li> -->
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->



                <div class="header-dropdown">
                    <!-- <a href="#">Eng</a> -->

                </div><!-- End .header-dropdown -->
            </div><!-- End .header-right -->
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="q" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="q" id="q"
                                placeholder="Search product ..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <!-- <a href="index-6.html   " class="logo">
                    <img src="/usercss/assets/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                </a> -->
            <!-- <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mars</h3>
                 -->
            <img src="/images/applogo.jpg" style="height: 120px;width: 180px;;" alt="marslogo">


            <div class="header-right">

                <!-- <a href="/login"><i class="icon-user"></i>Login</a> -->

                <a href="wishlist.html" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <!-- <span class="wishlist-txt"></span> -->
                </a>


                <div class="dropdown cart-dropdown">

                    <a href="/cart" class="wishlist-link">
                        <i class="icon-shopping-cart"></i>
                        <!-- <span class="wishlist-txt"></span> -->
                    </a>



                </div><!-- End .cart-dropdown -->

            </div>

        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu">
                        <li class="">
                            <a href="/home" class="">Home</a>


                        </li>

                        <li>
                            <a href="/shop" class="sf">Shop</a>


                        </li>

                        <li>
                            <!-- <a href="#" class="sf-with-ul">Pages</a> -->
                        <li><a href="about.html">About</a></li>


                        </li>
                        <li>
                        <li><a href="contact.html">Contact</a></li>


                        </li>
                        <li>
                        <li><a href="/profile">Profile</a></li>
                        </li>

                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->


        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
    
    <section class="h-100 h-custom" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
              <div class="card-body p-5">
      
                <p class="lead fw-bold mb-5" style="color: #f37a27;">Order Details</p>
      
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <p class="small text-muted mb-1">Date: <b><%=formattedDate%></b></p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <p class="small text-muted mb-1">Order No.: <b><%=orderData._id%></b></p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <p class="small text-muted mb-1">Order Status: <b><%= orderProduct.status %></b></p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <p class="small text-muted mb-1">Payment Method: <b><%=orderData.paymentMethod%></b></p>
                    </div>
                </div>
                
      
                <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                  <div class="row align-items-center"> <!-- Modified this line -->
                    <div class="col-md-2 col-lg-2"> <!-- Added this line -->
                        <a href="/productDetail?id=<%=orderProduct.product._id%>">
                      <img src="/productImages/productImages/<%=orderProduct.product.image[0]%>" alt="Product Image" class="img-fluid"> </a><!-- Added this line -->
                    </div> <!-- Added this line -->
                    
                    <div class="col-md-3 col-lg-7"> <!-- Modified this line -->
                        <a href="/productDetail?id=<%=orderProduct.product._id%>">
                      <p><b><%=orderProduct.product.name%></b></p></a>
                    </div>
                    
                    <div class="col-md-4 col-lg-3">
                        <a href="/productDetail?id=<%=orderProduct.product._id%>">
                      <p><b>₹<%=orderProduct.product.price%></b></p></a>
                    </div>
                  </div>
               
                </div>
      
                <div class="row my-4">
                    <div class="col-md-12">
                        <p class="lead fw-bold mb-0 text-end" style="color: #f37a27;">
                            Total Price: ₹<%=orderProduct.product.price %> x <%= orderProduct.quantity %> = ₹<%= orderProduct.product.price * orderProduct.quantity %>
                        </p>
                    </div>
                </div>
                
                
      
                <!-- Address Details Section -->
                <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Address Details</p>
      
                <div class="row">
                  <div class="col-md-12">
                    <p><strong>Name: </strong>   <%=orderAddress.name%></p>
                    <p><strong>Address:</strong>  <%=orderAddress.address%>,<%=orderAddress.city%>,<%=orderAddress.pincode%></p>
                    <p><strong>State:</strong>  <%=orderAddress.state%></p>
                    <p><strong>Email:</strong>  <%=orderAddress.email%></p>
                    <p><strong>Phone:</strong>  +91 <%=orderAddress.phone%></p>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
        <footer class="footer">
          <div class="footer-middle">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-lg-3">
                          <div class="widget widget-about">
                              <!-- <img src="/usercss/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25"> -->
                              <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">MARS
                              </h3>
                              <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                  magna eros eu erat. </p>

                              <div class="social-icons">
                                  <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                          class="icon-facebook-f"></i></a>
                                  <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                          class="icon-twitter"></i></a>
                                  <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                          class="icon-instagram"></i></a>
                                  <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                          class="icon-youtube"></i></a>
                                  <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                          class="icon-pinterest"></i></a>
                              </div><!-- End .soial-icons -->
                          </div><!-- End .widget about-widget -->
                      </div><!-- End .col-sm-6 col-lg-3 -->

                      <div class="col-sm-6 col-lg-3">
                          <div class="widget">
                              <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                              <ul class="widget-list">
                                  <li><a href="about.html">About MARS</a></li>
                                  <li><a href="#">How to shop on MARS</a></li>
                                  <li><a href="#">FAQ</a></li>
                                  <li><a href="contact.html">Contact us</a></li>
                                  <li><a href="login.html">Log in</a></li>
                              </ul><!-- End .widget-list -->
                          </div><!-- End .widget -->
                      </div><!-- End .col-sm-6 col-lg-3 -->

                      <div class="col-sm-6 col-lg-3">
                          <div class="widget">
                              <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                              <ul class="widget-list">
                                  <li><a href="#">Payment Methods</a></li>
                                  <li><a href="#">Money-back guarantee!</a></li>
                                  <li><a href="#">Returns</a></li>
                                  <li><a href="#">Shipping</a></li>
                                  <li><a href="#">Terms and conditions</a></li>
                                  <li><a href="#">Privacy Policy</a></li>
                              </ul><!-- End .widget-list -->
                          </div><!-- End .widget -->
                      </div><!-- End .col-sm-6 col-lg-3 -->

                      <div class="col-sm-6 col-lg-3">
                          <div class="widget">
                              <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                              <ul class="widget-list">
                                  <li><a href="#">Sign In</a></li>
                                  <li><a href="cart.html">View Cart</a></li>
                                  <li><a href="#">My Wishlist</a></li>
                                  <li><a href="#">Track My Order</a></li>
                                  <li><a href="#">Help</a></li>
                              </ul><!-- End .widget-list -->
                          </div><!-- End .widget -->
                      </div><!-- End .col-sm-6 col-lg-3 -->
                  </div><!-- End .row -->
              </div><!-- End .container -->
          </div><!-- End .footer-middle -->

          <div class="footer-bottom">
              <div class="container">
                  <p class="footer-copyright">Copyright © 2019 MARS Store. All Rights Reserved.</p>
                  <!-- End .footer-copyright -->
                  <figure class="footer-payments">
                      <img src="/usercss/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                  </figure><!-- End .footer-payments -->
              </div><!-- End .container -->
          </div><!-- End .footer-bottom -->
      </footer><!-- End .footer -->
      </section>
</body>
</html>