<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mars -eCommerce </title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Mars -eCommerce ">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/applogo.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/applogo.jpg">
    <link rel="manifest" href="/images/applogo.jpg">
    <link rel="mask-icon" href="/images/applogo.jpg" color="#666666">
    <link rel="shortcut icon" href="/images/applogo.jpg">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/images/applogo.jpg">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/usercss/assets/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <style>
        .wallet-icon {
            margin-right: 8px;
        }
    </style>
    <style>
        .product-thumbnail {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
}

.product-thumbnail img {
    width: 100%;
    height: 100%;
}
    </style>

<style>
    .coupon-list {
        margin-top: 20px;
    }
    .coupon-item {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    .coupon-title {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    .badge {
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 5px;
    }
    .badge-danger {
        background-color: #dc3545;
        color: #fff;
    }
    .badge-success {
        background-color: #28a745;
        color: #fff;
    }
    .btn-outline-primary {
        margin-left: 10px;
    }
</style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <!-- <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                </ul> -->
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <!-- <div class="social-icons social-icons-color"> -->
                            <!-- <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a> -->
                            <!-- <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                            <!-- <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i class="icon-pinterest-p"></i></a> -->
                            <!-- <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i class="icon-instagram"></i></a> -->
                        <!-- </div>End .soial-icons -->
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <!-- <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li> -->
                                    <!-- <li><a href="/login"><i class="icon-user"></i>Login</a></li> -->
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->

                       

                        <div class="header-dropdown">
                            <!-- <a href="#">Eng</a> -->
                         
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
               
                        <!-- <a href="index-6.html   " class="logo">
                            <img src="/usercss/assets/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
                        </a> -->
                        <!-- <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mars</h3>
                         -->
                         <img src="/images/applogo.jpg" style="height: 120px;width: 180px;;" alt="marslogo">
            

                    <div class="header-right">

                        <!-- <a href="/login"><i class="icon-user"></i>Login</a> -->
                     
                        <a href="/wishlist" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-txt"></span> -->
                        </a>
                        

                        <div class="dropdown cart-dropdown">
                          
                            <a href="/cart" class="wishlist-link">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="wishlist-txt"></span> -->
                            </a>
                            

                            

                        </div><!-- End .cart-dropdown -->
                        
                    </div>
                    
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="">  
                                    <a href="/home" class="">Home</a>

                                 
                                </li>
                                
                                <li>
                                    <a href="/shop" class="sf">Shop</a>

                                    
                                </li>
                               
                               
                                <li>
                                    <li><a href="/profile">Profile</a></li>
                                </li>
                     
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                   
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/usercss/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">My Account</li> -->
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Coupon</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" onclick="confirmSignOut()">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark"><%=user[0].name%>!!!!</span> </a> 
                                            <p class="font-weight-normal text-dark" style="color:blue;">Your Refferal Code:  <b>"<%=user[0].referralCode%>"</b> </p>
								    	<br>
                            <h4 style="font-size: larger; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: brown;">Have a great day,shop and Enjoy</h4>
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title"><i class="fas fa-wallet wallet-icon"></i>Wallet</h5>
                                    <br>
                                    <p class="card-text">Wallet Amount: ₹<span class="font-weight-bold"><%=user[0].wallet%></span></p>
                                </div>
                            </div>
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title">Wallet History</h5>
                                    <table class="table mt-3">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody id="wallet-history-table">
                                            <!-- Wallet transactions will be appended here -->
                                        </tbody>
                                    </table>
                                    <div id="pagination-container" class="text-center mt-3">
                                        <!-- Pagination controls will be appended here -->
                                    </div>
                                </div>
                            </div>
								    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                        <% orderPoducts.forEach(order => { %>
                                            <div class="order-section">
                                                <h6>Order ID: <%= order.orderId %></h6>
                                                <table class="table table-cart table-mobile">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th>Price</th>
                                                            <th>Quantity</th>
                                                            <th>Total</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% order.products.forEach(orderProduct => { %>
                                                            
                                                            <tr>
                                                                <td class="product-col">
                                                                    <div class="product">
                                                                        <figure class="product-media">
                                                                            <a href="/productDetail?id=<%= orderProduct.product._id %>">
                                                                                <img src="/productImages/productImages/<%= orderProduct.product.image[0] %>" alt="Product image">
                                                                            </a>
                                                                        </figure>
                                                                        <h3 class="product-title">
                                                                            <a href="/productDetail?id=<%= orderProduct.product._id %>">
                                                                                <%= orderProduct.product.name %>
                                                                            </a>
                                                                        </h3>
                                                                    </div>
                                                                </td>
                                                               <% if(orderProduct.product.offerprice>0 && orderProduct.product.category.offerprice > 0){%>
                                                                    <td class="total-col">₹<%= Math.round(orderProduct.product.offerprice - (orderProduct.product.offerprice * orderProduct.product.category.offerprice) / 100) %></td>

                                                                <%}else if(orderProduct.product.offerprice>0){%>
                                                                    <td class="total-col">₹<%= orderProduct.product.offerprice %></td>

                                                                <%}else if(orderProduct.product.category.offerprice > 0){%>
                                                                    <td class="total-col">₹<%=  Math.round(orderProduct.product.price - (orderProduct.product.price * orderProduct.product.category.offerprice) / 100) %></td>
                                                                <%}else{%>
                                                                    <td class="total-col">₹<%= orderProduct.product.price %></td>
                                                                <%}%>
                                                                <td class="total-col"><%= orderProduct.quantity %></td>

                                                                <%if(orderProduct.product.offerprice>0 && orderProduct.product.category.offerprice > 0){%>
                                                                <td class="total-col">₹<%=Math.round(orderProduct.product.offerprice - (orderProduct.product.offerprice * orderProduct.product.category.offerprice) / 100)* orderProduct.quantity %></td>
                                                            <%}else if(orderProduct.product.offerprice>0){%>
                                                                <td class="total-col">₹<%= orderProduct.quantity * orderProduct.product.offerprice %></td>
                                                            <%}else if(orderProduct.product.category.offerprice > 0){%>
                                                                <td class="total-col">₹<%= orderProduct.quantity * Math.round(orderProduct.product.price - (orderProduct.product.price * orderProduct.product.category.offerprice) / 100)%></td>
                                                            <%}else{%>
                                                                <td class="total-col">₹<%= orderProduct.quantity * orderProduct.product.price  %></td>
                                                            <%}%>
                                                                <td class="total-col-auto"><%= orderProduct.status %></td>
                                                                <td>
                                                                        <a href="/orderDetails?orderId=<%= order._id %>&productId=<%= orderProduct.product._id %>">
                                                                            <button class="btn btn-primary show-details-btn">Show Details</button>
                                                                        </a>
                                                                </td>
                                                                <td>
                                                                    <% if (orderProduct.status === 'Order confirmed') { %>
                                                                        <a onclick="cancelOrder('<%= order._id %>','<%= orderProduct.product._id %>')">
                                                                            <button class="btn btn-primary show-details-btn">Cancel Order</button>
                                                                        </a>
                                                                    <% } else if (orderProduct.status === 'delivered') { %>
                                                                        <a onclick="returnOrder('<%= order._id %>','<%= orderProduct.product._id %>')">
                                                                            <button class="btn btn-primary show-details-btn">Return Order</button>
                                                                        </a>
                                                                    <% } %>
                                                                </td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                                <div class="text-center">
                                                    <h6>Total Order Amount: <%= order.totalAmount %></h6>
                                                </div>
                                                <div class="text-center">
                                                    <% if (order.paymentStatus ==='payment failed') { %>
                                                        <a onclick="razorpay('<%=order.totalAmount%>','<%=order.orderId%>')">
                                                            <button class="btn btn-primary">Retry Payment</button>
                                                        </a>
                                                    <% }%>
                                                </div>
                                                <br>
                                                <% 

                                                 <!-- Count how many products have status 'Order confirmed' -->
                                                const confirmedCount = order.products.filter(product => product.status === 'Order confirmed').length;
                                                
                                                <!-- Show cancel button only if 2 or more confirmed products -->
                                                const canCancelWholeOrder = confirmedCount >= 2;

                                                <!-- // Check if any product in the order is 'delivered' (to show 'Download Invoice' button) -->
                                                const canDownloadInvoice = order.products.some(product => product.status === 'delivered');
                                                %>
                                                
                                                <div class="text-center">
                                                    <% if (canCancelWholeOrder) { %>
                                                        <a onclick="cancelOrder('<%= order._id %>')">
                                                            <button class="btn btn-danger">Cancel Entire Order</button>
                                                        </a>
                                                    <% } %>
                                                
                                                    <% if (canDownloadInvoice) { %>
                                                        <a href="/downloadInvoice/?orderId=<%= order._id %>">
                                                            <button class="btn btn-success">Download Invoice</button>
                                                        </a>
                                                    <% } %>
                                                </div>
                                                
                                                <hr style="border-color: blue; border-width: 2px;">
                                            </div>
                                        <% }) %>
                                        <nav aria-label="Order pagination">
                                            <ul class="pagination justify-content-center">
                                                <% if (currentPage > 1) { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                <% } %>
                                    
                                                <% for (let i = 1; i <= pages; i++) { %>
                                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                                    </li>
                                                <% } %>
                                    
                                                <% if (currentPage < pages) { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                        </nav>
                                    </div>
                                    
                                    

                                    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                        <div class="coupon-list row">
                                            <% couponView.forEach((coupon,index) => { %>
                                                <% if (new Date(coupon.expireDate) > new Date()){%>

                                                <div class="col-md-4 mb-3">
                                                    <div class="coupon-item">
                                                        <p>Name: <b><%= coupon.name %></b></p>
                                                        <p>Expires on: <%= new Date(coupon.expireDate).toLocaleDateString() %></p>
                                                        <p>Minimum Amount: <%= coupon.minAmount %></p>
                                                        <p>Discount: <%= coupon.discount %>%</p>
                                                        <% if (coupon.status === true) { %>
                                                            <p>Status: <span class="badge badge-success">Available</span></p>
                                                        <% } else { %>
                                                            <p>Status: <span class="badge badge-danger">Not Available</span></p>
                                                        <% } %>
                                                        <p>Code: <span id="coupon-code-<%= index %>"><%= coupon.code %></span></p>
                                                        <% if (coupon.status === true) { %>
                                                        <button class="btn btn-sm btn-outline-primary mt-auto" onclick="copyToClipboard('coupon-code-<%= index %>')">Copy</button>
                                                        <% } %>
                                                    </div>
                                                </div>

                                                <%}%>

                                            <% }) %>
                                            <!-- Add more coupon items as needed -->
                                        </div>
                                    </div><!-- .End .tab-pane -->
                                    
                                    
                                    
                                
                
								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                       <a href="/addAdress"><button type="submit" class="btn btn-outline-primary-2">
                                        <span>Create New Address</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button></a> 
                                        <br>
                                        <br>
                                        
								    	<div class="row">
                                            <% if (address && address.addresses && address.addresses.length > 0) { %>
                                            <%address.addresses.forEach(address=>{%>
                                                
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title"><%=address.name%></h3><!-- End .card-title -->
    
                                                            <p><%=address.name%><br>
                                                                <%=address.address%><br>
                                                                <%=address.state+','+address.pincode%><br>
                                                                <%=address.state%><br>
                                                                <%=address.phone%><br>
                                                                <%=address.email%><br>
                                                            <a href="/edit-Address?id=<%=address._id%>">Edit <i class="icon-edit"></i></a></p>
                                                            <a style="cursor: pointer;" onclick="removeAddress('<%= address._id %>')">Delete</a>

                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->

                                           <% })%>
                                            <%}%>
                                                
								    		

								    		
								    	</div><!-- End .row -->
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<div class="card mx-auto" style="max-width: 400px;">
                                            <br>
                                            <img class="rounded-circle" src="/admincss/assets/imgs/people/appperson.png" alt="User" style="width: 80px; height: 80px; border-radius: 5px;">
                                            <br>                                                 <div class="card-body">
                                                <p class="card-text">Email: <%=user[0].name%></p> 
                                                <p class="card-text">Email: <%=user[0].email%></p> 
                                              <p class="card-text">Phone: <%=user[0].mobile%></p> 
                                              <button  type="button" class="btn btn-outline-primary-2" data-toggle="modal" data-target="#editModal">
                                                <span>Edit</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit User Details</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Form for editing user details -->
                                                            <form id="form">
                                                                <div class="form-group">
                                                                    <label for="name">Name</label>
                                                                    <input type="text" class="form-control" id="name" name="name" value="<%=user[0].name%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="email" class="form-control" id="email" name="email" value="<%=user[0].email%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="phone">Phone</label>
                                                                    <input type="tel" class="form-control" id="phone" name="mobile" value="<%=user[0].mobile%>">
                                                                </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button onclick="editProfile('<%=user[0]._id%>')" type="button" class="btn btn-primary">Save Changes</button>
                                                        </div>
                                                    </form>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                          </div>

		                					
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				 <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mars</h3>
            
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="/usercss/assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="/shop" method="get">
                <div class="header-search-wrapper search-wrapper-wide">
                    <label for="q" class="sr-only">Search</label>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                    <input type="search" class="form-control" name="search" id="search" placeholder="Search product ..." required>
                </div><!-- End .header-search-wrapper -->
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="">  
                        <a href="/home" class="">Home</a>

                     
                    </li>
                    <li>
                        <a href="/shop" class="sf">Shop</a>

                        
                    </li>
                    
                    <li>
                        <li><a href="/profile">Profile</a></li>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="/usercss/assets/js/jquery.min.js"></script>
    <script src="/usercss/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/usercss/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/usercss/assets/js/jquery.waypoints.min.js"></script>
    <script src="/usercss/assets/js/superfish.min.js"></script>
    <script src="/usercss/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/usercss/assets/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <script>
        function cancelOrder(orderId,productId) {
            const url = productId ? "/cancelOrder" : "/cancelWholeOrder";
            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to cancel this ordered product.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, cancel it!',
                cancelButtonText: 'No, keep it'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(url, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({orderId, productId})
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                    if (data.message === 'Order cancelled successfully') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Cancelled!',
                            text: 'Your order has been cancelled successfully.',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.reload();
                        });
                    } else {
                        console.log('Error:', data.error);
                    }
                })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });

        }

        function returnOrder(orderId,productId) {
    Swal.fire({
        title: 'Are you sure?',
        text: 'You are about to return this ordered product.',
        icon: 'warning',
        input: 'textarea',
        inputPlaceholder: 'Enter the reason for return...',
        showCancelButton: true,
        confirmButtonText: 'Yes, return it!',
        cancelButtonText: 'No, keep it',
        preConfirm: (reason) => {
            if (!reason) {
                Swal.showValidationMessage('Please enter a reason for return');
            }
            return reason;
        }
    }).then((result) => {
        if (result.isConfirmed) {
            fetch('/returnOrder', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({orderId:orderId, productId: productId, reason: result.value })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    Swal.fire('Requested!', 'Your return request is sended suucessfully.', 'success');
                        window.location.href='/profile'
                } else {
                    Swal.fire('Error!', 'There was an issue returning your order. Please try again.', 'error');
                }
            })
            .catch(error => {
                Swal.fire('Error!', 'There was an issue returning your order. Please try again.', 'error');
            });
        }
    });
}





        function removeAddress(addressId) {
        
         Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to remove this Address.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, remove it!',
                cancelButtonText: 'No, keep it'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch('/removeAddress', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ addressId })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.message == 'succes') {
                                window.location.reload();
                            } else {
                                console.log('Error:', data.error);
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }
            });
    };

 function editProfile(userId) {
            const form = document.getElementById('form')
            const name = form.elements['name'].value
            const email = form.elements['email'].value
            const mobile = form.elements['mobile'].value

            let datas = {
                name,
                email,
                mobile,
                userId
            }
        if (!name.trim() || !/^[a-zA-Z][a-zA-Z\s]{1,}$/.test(name)) {
        Swal.fire({
            icon: 'error',
            title: 'Oops!',
            text: 'Name is invalid',
            confirmButtonText: 'OK'
        });
        return;
    }
    if (!email.trim() || !/^[A-Za-z0-9.%+-]+@gmail\.com$/.test(email)) {
    Swal.fire({
        icon: 'error',
        title: 'Oops!',
        text: 'Email is invalid',
        confirmButtonText: 'OK'
    });
    return;
}
    if (!mobile.trim() || !/^\d{10}$/.test(mobile)) {
        Swal.fire({
            icon: 'error',
            title: 'Oops!',
            text: 'Mobile is invalid',
            confirmButtonText: 'OK'
        });
        return;
    }
   
            fetch('/editProfile', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(datas)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.message) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!',
                            text: 'Profile edit successfully.',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.href = '/profile'; 
                        });
                    } 
                    else {
                        console.log('Error:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }



        //signout
    function confirmSignOut() {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will be signed out',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, sign me out!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/signout';
            }
        });
    }
    
    </script>

<script>
    function copyToClipboard(elementId) {
        var copyText = document.getElementById(elementId).innerText;
        navigator.clipboard.writeText(copyText).then(function() {
            Swal.fire({
                icon: 'success',
                title: 'Coupon Code Copied!',
                text: copyText + ' has been copied to the clipboard.',
                showConfirmButton: false,
                timer: 1500
            });
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    fetchWalletHistory();
});

const fetchWalletHistory = async (page = 1, limit = 8) => {
    try {
        const response = await fetch(`/wallet/history?page=${page}&limit=${limit}`);
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const data = await response.json();
        if (data.success) {
            displayWalletHistory(data.transactions);
            setupPagination(data.totalPages, data.currentPage);
        } else {
            console.error('Failed to fetch wallet history');
        }
    } catch (error) {
        console.error('Error:', error);
    }
};

function displayWalletHistory(transactions) {
    const walletHistoryTable = document.getElementById('wallet-history-table');
    walletHistoryTable.innerHTML = '';

    transactions.forEach(transaction => {
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${new Date(transaction.date).toLocaleDateString()}</td>
            <td>${transaction.type}</td>
            <td>${transaction.amount > 0 ? '+' : ''}₹${Math.abs(transaction.amount)}</td>
        `;
        walletHistoryTable.appendChild(row);
    });
}

function setupPagination(totalPages, currentPage) {
    const paginationContainer = document.getElementById('pagination-container');
    paginationContainer.innerHTML = '';

    for (let i = 1; i <= totalPages; i++) {
        const pageButton = document.createElement('button');
        pageButton.innerText = i;
        pageButton.className = 'btn btn-primary';
        pageButton.disabled = i === currentPage;
        pageButton.onclick = () => fetchWalletHistory(i);

        paginationContainer.appendChild(pageButton);
    }
}

</script>

<script>
    function razorpay(subtotal,orderId) {
            
            fetch('/RazorpayOrderRetry', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({subtotal,orderId})
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    
                    console.log(data);
                    var options = {
                        key: data.key_id,
                        amount: data.amount,
                        currency: "INR",
                        name: "MARS _STORE",
                        description: "Transaction Description",
                        image: "https://example.com/your_logo",
                        order_id: data.order_id,
                        handler: function (response) {
                            const requestData = {
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_signature: response.razorpay_signature,
                                order_id:orderId
                            };
                            fetch('/verifySignatureRetry', {
                                method: 'post',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ requestData }),
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    if (data.success) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Order Success',
                                            text: 'Your order has been placed successfully!',
                                            confirmButtonText: 'OK'
                                        }).then(() => {
                                            window.location.href = '/home';
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Order Failed',
                                            text: 'Signature verification failed!',
                                            confirmButtonText: 'OK'
                                        });
                                        console.log('Error:', data.message);
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Order Failed',
                                        text: 'An error occurred!',
                                        confirmButtonText: 'OK'
                                    });
                                });
                        },
                        prefill: {
                            name: "Customer Name",
                            email: "customer_email@example.com",
                            contact: "customer_phone",
                        },
                        theme: {
                            color: "#192e68",
                        },
                    };
                    var paymentGateway = new Razorpay(options);
                    paymentGateway.open();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

</script>



</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>